* {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


body {
    
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); 

}

.header {
    padding: 25px;
    background: 3px white;
    color: black;
    font-size: 16px;
    border: 3px #FFFFFF;
    margin: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

  }

  a {
    border: 2px;
  }

  .img {
    margin: 16px;
    
  }



  * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:800px;
  height: 762px;
  top: -783px;
  margin-right: 100px;
}